ansible==2.8.0
asn1crypto==0.24.0
async-generator==1.10
attrs==21.2.0
Automat==20.2.0
certifi==2019.3.9
cffi==1.12.3
charset-normalizer==2.0.6
click==6.7
constantly==15.1.0
cryptography==3.4.8
cssselect==1.1.0
fuzzyfinder==2.1.0
h11==0.12.0
h2==3.2.0
hpack==3.0.0
httplib2==0.12.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
ipaddress==1.0.22
itemadapter==0.4.0
itemloaders==1.0.4
Jinja2==2.10.1
jmespath==0.10.0
kube-shell==0.0.23
kubernetes==2.0.0
lxml==4.6.3
MarkupSafe==1.1.1
oauth2client==4.1.3
outcome==1.1.0
parsel==1.6.0
priority==1.3.0
prompt-toolkit==1.0.16
Protego==0.1.16
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.4.2
pyOpenSSL==20.0.1
python-dateutil==2.8.0
PyYAML==5.1
queuelib==1.6.2
requests==2.26.0
rsa==4.0
Scrapy==2.5.0
selenium==4.0.0b4
service-identity==21.1.0
six==1.12.0
sniffio==1.2.0
sortedcontainers==2.4.0
trio==0.19.0
trio-websocket==0.9.2
Twisted==21.7.0
typing-extensions==3.10.0.2
undetected-chromedriver==3.0.3
urllib3==1.26.6
w3lib==1.22.0
wcwidth==0.1.7
websocket-client==0.56.0
websockets==10.0
wsproto==1.0.0
zope.interface==5.4.0
